<!DOCTYPE html>
<html>
<head>
<%-include('layout/head')%>
</head>
<body>
HOME PAGE !!!!!!!!!

    <ul>
        <% danhmuc.forEach((entry) => { %>
                <li>name: <%= entry.name %><br>
                id: <%= entry._id %></li>
        <% }) %>
    </ul>
    <ul>
        <% hocvien.forEach((entry) => { %>
            <li>name: <%= entry.name %><br>
                id: <%= entry._id %></li>
        <% }) %>
    </ul>
<hr>

</body>
</html>
